body, html {
    height: 100%;
    margin: 0;
  }
  
::selection	{
      background-color: #3D3D3D;
}

span {
    color: white;
    font-family: "Courier New", Courier, monospace;
}
      
.backgroundImage {
    background-image: url('backgrounds/home_bg.webp');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
}
  
.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1 {
    font-size: 40px;		
}

/* Mobile Style */
@media only screen and (max-width: 600px) {
    html {
        background-color: #151513;
    }
    
    span {
        font-size: 180%;
    }

    .pb img {
        max-width: 100%;
        border-radius: 50%;
        width: 50;
        height: auto;
    }
    
    .section1 {
        position: absolute;
        left: 50%;
        padding-top: 140%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .centertext {
        padding-top: 5%;
        color: white;
        font-family: "Courier New", Courier, monospace;
    }

    .section2 {
        text-align: center;
        position: absolute;
        padding-top: 140%;
    }

    .section3 {
        text-align: center;
        position: absolute;
        padding-top: 335%;
        position: absolute;
        left: 50%;
        transform: translate(-20%, -50%);
    }

    .section3 img{
        padding-top: 15%;
        width: 20%;
        float: left;
        padding-bottom: 15%;
    }

    .linkedin {
        padding-left: 5%;
    }
}
  
/* Tablet Style */
@media only screen and (min-width: 601px) and (max-width: 1199px){
    html {
        background-color: #151513;
    }
        
    span {
        font-size: 180%;
    }
    
    .pb img {
        max-width: 100%;
        border-radius: 50%;
        width: 50;
        height: auto;
    }
    
    .section1 {
        position: absolute;
        left: 50%;
        padding-top: 140%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .centertext {
        padding-top: 5%;
        color: white;
        font-family: "Courier New", Courier, monospace;
    }

    .section2 {
        text-align: center;
        position: absolute;
        padding-top: 140%;
    }

    .section3 {
        text-align: center;
        position: absolute;
        padding-top: 335%;
        position: absolute;
        left: 50%;
        transform: translate(-25%, -50%);
    }

    .section3 img{
        padding-top: 15%;
        width: 20%;
        float: left;
        padding-bottom: 15%;
    }

    .linkedin {
        padding-left: 5%;
    }
}
  
/* Laptop Style */
@media only screen and (min-width: 1200px) {
    html {
        background-color: #151513;
    }
    .pb img {
        max-width: 40%;
        border-radius: 50%;
        width: 50;
        height: auto;
        float: left;
    }
    
    .section1 {
        position: absolute;
        left: 50%;
        padding-top: 50%;
        transform: translate(-60%, -50%);
        text-align: center;
    }

    .section1 span {
        transform: translateY(25%);
        position: absolute;
        width: 400px;
    }

    .centertext {
        padding-top: 5%;
        color: white;
        font-family: "Courier New", Courier, monospace;
    }

    .section2 {
        text-align: center;
        position: absolute;
        width: 60%;
        padding-top: 50%;
        transform: translateX(34%);
    }

    .section3 {
        text-align: center;
        position: absolute;
        padding-top: 120%;
        position: absolute;
        left: 50%;
        transform: translate(-12%, -50%);
    }

    .section3 img{
        width: 10%;
        float: left;
        padding-bottom: 5%;
    }

    .linkedin {
        padding-left: 5%;
    }
}

/* Large Style */
@media only screen and (min-width: 1800px){
    html {
        background-color: #151513;
    }
    .pb img {
        max-width: 40%;
        border-radius: 50%;
        width: 50;
        height: auto;
        float: left;
    }
    
    .section1 {
        position: absolute;
        left: 50%;
        padding-top: 25%;
        transform: translate(-60%, -50%);
        text-align: center;
    }

    .section1 span {
        transform: translateY(25%);
        position: absolute;
        width: 400px;
    }

    .centertext {
        padding-top: 5%;
        color: white;
        font-family: "Courier New", Courier, monospace;
    }

    .section2 {
        text-align: center;
        position: absolute;
        width: 60%;
        padding-top: 30%;
        transform: translateX(32%);
    }

    .section3 {
        text-align: center;
        position: absolute;
        padding-top: 80%;
        position: absolute;
        left: 50%;
        transform: translate(-12%, -50%);
    }

    .section3 img{
        width: 8%;
        float: left;
        padding-bottom: 5%;
    }

    .linkedin {
        padding-left: 5%;
    }
}